.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__item {
        text-decoration: none;
        font-size: 25px;
        color: black;
        font-weight: 500;
    }
}